<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %} Наперстки {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

{% load static %}
{% block body %}
<div class="text-center p-5">
    <h1 class="display-1">Страны мира</h1>
    <div class="container">
    <em class="lead font-weight-normal">Албания, Россия и другие...</em>
    </div>
    <div class="container">
        <div class="row justify-content-center ">
            <p>
              <button class="btn btn-secondary p-2" style="width: 39rem;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                По алфавиту
              </button>
              <button class="btn btn-secondary p-2 mx-2" style="width: 39rem;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                По сторонам света
              </button>
            </p>
            <div class="pt-2"></div>
        </div>
        <div class="row justify-content-center">
            <ul class="list-group collapse" id="collapseExample" style="width: 40rem;">
                <li class="list-group-item active">По алфавиту</li>
                {% for country in countries %}
                <a href="{% url 'country_info' country.id%}"><li class="list-group-item">{{ country.name }}</li></a>
                {% endfor %}
            </ul>
            <ul class="list-group collapse" id="collapseExample2" style="width: 40rem;">
                <li class="list-group-item active">По сторонам света</li>
                {% for region, region_countries in regions.items %}
                <div class="dropdown">
                  <a class="btn list-group-item dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ region }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      {% for country in region_countries %}
                    <li><a class="dropdown-item" href="#">{{ country }}</a></li>
                      {% endfor %}
                  </ul>
                </div>
                {% endfor %}

            </ul>
        </div>
    </div>
    <div class="p-4">
        <a class="btn btn-dark" href="add_country">Добавить страну</a>
    </div>
</div>

{% endblock %}