{% extends 'thimble/base.html' %}
{% block body %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="d-flex justify-content-center pt-5">
    <ul class="list-group pr-3">
        <label for="number">Номер:</label>
        <li class="list-group-item" id="number">{{ form.number }}</li>
        <label for="country">Страна:</label>
        <li class="list-group-item" id="country">{{ form.country }}</li>
        <label for="city">Город:</label>
        <li class="list-group-item" id="city">{{ form.city }}</li>
        <label for="matherial">Материал:</label>
        <li class="list-group-item" id="matherial">{{ form.matherial }}</li>
        <label for="type">Тип наперстка:</label>
        <li class="list-group-item" id="type">{{ form.type }}</li>
        <label for="description">Комментарии:</label>
        <li class="list-group-item" id="description">{{ form.description }}</li>
        <label for="image">Изображение:</label>
        <li class="list-group-item" id="image">{{ form.image }}</li>
        {% if form.instance.image %}
        <li class="list-group-item" id="preview" style="width: 18rem;"><img src="{{ form.instance.image.url }}"class="card-img-top" alt="..."></li>
        {% endif %}
        &#160;
        <input id="submit" class="btn btn-dark btn-lg bg-gradient" type="submit" value="Создать">
    </ul>
        </div>
</form>
{% endblock %}