{% extends 'thimble/base.html'%}
{% load static %}
{% block body %}
<div class="text-center p-5">
    <h1 class="display-1">Российская Федерация</h1>
    <div class="container">
    <em class="lead font-weight-normal">Российская Федерация - самая большая страна по площади в мире.</em>
    </div>
    <div class="container">
        <div class="row justify-content-center ">
            <p>
              <button class="btn btn-secondary p-2" style="width: 39rem;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                По алфавиту
              </button>
              <button class="btn btn-secondary p-2 mx-2" style="width: 39rem;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                По округам
              </button>
            </p>
            <div class="pt-2"></div>
        </div>
        <div class="row justify-content-center">
            <ul class="list-group collapse" id="collapseExample" style="width: 40rem;">
                <li class="list-group-item active">По алфавиту</li>
                {% for city in cities %}
                <a href="{% url 'city_info' city.id%}"><li class="list-group-item">{{ city.name }}</li></a>
                {% endfor %}
            </ul>
            <ul class="list-group collapse" id="collapseExample2" style="width: 40rem;">
                <li class="list-group-item active">По округам</li>
                {% for region, region_cities in regions.items %}
                <div class="dropdown">
                  <a class="btn list-group-item dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ region }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      {% for city in region_cities %}
                    <li><a class="dropdown-item" href="{% url 'city_info' city.id%}">{{ city }}</a></li>
                      {% endfor %}
                  </ul>
                </div>
                {% endfor %}

            </ul>
        </div>
    </div>
    <div class="p-4">
        <a class="btn btn-dark" href="add_city">Добавить город</a>
    </div>
</div>

{% endblock %}