{% extends 'thimble/base.html'%}
{% load static %}
{% block body %}
<div class="text-center">
    <h1 class="display-1">Сувенирно-коллекционные</h1>
    <div class="container">
    <em class="lead font-weight-normal">Существуют много разных наперстков, даже в виде сов!</em>
    </div>
</div>
<div class="mx-auto" style="width: 40rem;">
    <div class="card bg-dark text-white" style="width: 40rem;">
      <img src="{% static 'thimble/images/church.png' %}" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Церковные</h5>
        <p class="card-text">Существует много наперстков на церковную тематику</p>
      </div>
    </div>
    <div class="mx-auto p-3" style="width: 14rem;">
    <a href="church" class="btn btn-primary">Перейти куда-нибудь</a>
        </div>
</div>
<div class="mx-auto" style="width: 40rem;">
    <div class="card bg-dark text-white" style="width: 40rem;">
      <img src="{% static 'thimble/images/work.png' %}" class="card-img" alt="...">
      <div class="card-img-overlay ">
        <h5 class="card-title">Рабочие</h5>
        <p class="card-text">Существует много интересных рабочих наперстков</p>
      </div>
    </div>
    <div class="mx-auto p-3" style="width: 14rem;">
    <a href="working" class="btn btn-primary">Перейти куда-нибудь</a>
        </div>
</div>
<div class="mx-auto" style="width: 40rem;">
    <div class="card bg-dark text-white" style="width: 40rem;">
      <img src="{% static 'thimble/images/promisel.png' %}" class="card-img" alt="...">
      <div class="card-img-overlay ">
        <h5 class="card-title">Народные промыслы</h5>
        <p class="card-text">Хохлома, палех и другие...</p>
      </div>
    </div>
    <div class="mx-auto p-3" style="width: 14rem;">
    <a href="promisel" class="btn btn-primary">Перейти куда-нибудь</a>
        </div>
</div>
<div class="mx-auto" style="width: 40rem;">
    <div class="card bg-dark text-white" style="width: 40rem;">
      <img src="{% static 'thimble/images/sova.png' %}" class="card-img" alt="...">
      <div class="card-img-overlay ">
        <h5 class="card-title">Сова</h5>
        <p class="card-text">Сова</p>
      </div>
    </div>
    <div class="mx-auto p-3" style="width: 14rem;">
    <a href="sova" class="btn btn-primary">Перейти куда-нибудь</a>
        </div>
</div>
<div class="mx-auto" style="width: 40rem;">
    <div class="card bg-dark text-white" style="width: 40rem;">
      <img src="{% static 'thimble/images/people.png' %}" class="card-img" alt="...">
      <div class="card-img-overlay ">
        <h5 class="card-title">Известные личности</h5>
        <p class="card-text">Правители, композиторы и т.д.</p>
      </div>
    </div>
    <div class="mx-auto p-3" style="width: 14rem;">
    <a href="people" class="btn btn-primary">Перейти куда-нибудь</a>
        </div>
</div>
{% endblock %}