{% extends "thimble/base.html" %}
{% load static %}
{% block body %}
<div class="d-flex justify-content-center pt-5">
<div class="card" style="width: 50rem;">
  <img src="{{ thimbles_info.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <a href="edit" class="btn btn-warning bg-gradient">Редактировать</a>
        <a href="delete" class="btn btn-danger bg-gradient">Удалить</a>
    </div>
    </div>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Номер: </strong>{{ thimbles_info.number }}</li>
            <li class="list-group-item"><strong>Страна: </strong>{{ thimbles_info.country }}</li>
            <li class="list-group-item"><strong>Город: </strong>{{ thimbles_info.city }}</li>
            <li class="list-group-item"><strong>Материал: </strong>{{ thimbles_info.matherial }}</li>
            <li class="list-group-item"><strong>Тип: </strong>{{ thimbles_info.type }}</li>
            <li class="list-group-item"><strong>Описание: </strong>{{ thimbles_info.description }}</li>
        </ul>
    </div>
</div>
{% endblock %}